





/* Animação no botão confirmar */
@-webkit-keyframes btnConfirmacao-Intro {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes btnConfirmacao-Intro {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
.btnConfirmacao-Intro {
  -webkit-animation: btnConfirmacao-Intro 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
  animation: btnConfirmacao-Intro 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s
    both;
}
/* -------------------------------------------------------------------- */

/* Div Master do cadastroSexo, esta é a div que fica por cima de tudo */
.divMasterCadSex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Div presente nos botões que está sobre tudo, ou melhor, atrás de tudo :) */
.divBtn-Acionar {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(36, 37, 38);
  width: 500px;
  height: 400px;
  flex-wrap: wrap;
  justify-content: space-evenly;

  align-items: center;
  border-radius: 10px;
}

/* Alteração nos botões de uma forma geral */
.divBtn-Acionar button {
  width: 400px;
  height: 50px;
  border-radius: 20px;
}
/* ------------------------------------------------- */

/* Div master dos cards da escolha dos sexos */
.cadAtv-escolhaSexo {
/* Deixando os botões(botões de atividade) mais bonitos com efeitos e muito mais... */
.UseBtn {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
}

/* Alteração interna nos códigos: card dos sexo */
.sex button {
  height: 185px;
  width: 150px;
  border-radius: 19px;
  /* background: #ff885b; */
  background: #33372c;
}
.sex i {
  font-size: 50px;
  color: #fff;
}

.sex h3 {
  color: #fff;
}

/* Alterações principalmente no cad do sexoFeminino */
.sexFem {
  box-shadow: inset 0 0 0 0 #ffb0b0;
  color: #ffb0b0;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 19px;
}

.sexFem:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #ffb0b0;
  border-radius: 19px;
  cursor: pointer;
  border: 1px solid #ff9100;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  /* color: rgb(10, 10, 10); */
  color: #ff9100;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;

  justify-content: center;
}

.UseBtn span {
  margin: 10px;
}
/* -------------------------------------------------------------------- */

/* Alterações principalmente no cad do sexoMasculino */
.sexMasc {
  box-shadow: inset 0 0 0 0 #9dbdff;
  color: #9dbdff;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 19px;
}

.sexMasc:hover {
  color: #000;
  box-shadow: inset 200px 0 0 0 #9dbdff;
  border-radius: 19px;
}
/* -------------------------------------------------------------------- */

/* .sex button {
  box-shadow: inset 0 0 0 0 #ff885b;
  color: #ff885b;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 19px;
.UseBtn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}
.sex button:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #ff885b;
  border-radius: 19px;
} */

/* Presentational styles */
/* a {
  color: #54b3d6;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
} */

/* Animações nos cards */
.card {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;

.UseBtn:hover {
  color: #ffffff;
  border: 1px solid #ff9100;
  background-color: #ff9100;
}

.UseBtn:hover::before {
  box-shadow: inset 0 0 0 10em #ff9100;
}
/* ---------------------------------------------------------------------- */

/* Estilizando o texto de confirmação */
.textBtn-CadSex {
  font-size: 15px;
  /* font-weight: 700; */
  margin: 0;
}

/* Deixando o botão(confirmar) mais bonito com efeitos e muito mais... */
.btn-confirmarCadSex {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ff9100;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  /* color: rgb(10, 10, 10); */
  color: #ff9100;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  color: #000;

  justify-content: center;
  text-decoration: underline;
}

.btn-confirmarCadSex::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  font-family: monospace;

  flex-direction: column;
/* quando colocamos & dentro de qualquer tag, significa que ele herdará tudo que tiver dentro da tag */
  & i { 
    background-color: #52525218;
    color: #996113;
    border-radius: 100%;
    width: max-content;
  }
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}

#MAPEAMENTO {
  & img {
    border-radius: 50%;
  }
}
