################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/GymLogAPI/GymLog/.vs
/GymLogAPI/GymLog/obj
/GymLogAPI/GymLog/obj/Debug/net8.0/GymLog.AssemblyInfoInputs.cache
