################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/GymLogAPI/GymLog/.vs
/GymLogAPI/GymLog/obj
/GymLogAPI/.vs/slnx.sqlite
/GymLogAPI/GymLog/obj/Debug/net8.0/GymLog.AssemblyInfo.cs
/GymLogAPI/GymLog/obj/Debug/net8.0/GymLog.AssemblyInfoInputs.cache
/GymLogAPI/GymLog/obj/Release/net8.0/GymLog.AssemblyInfo.cs
/GymLogAPI/GymLog/obj/Release/net8.0/GymLog.AssemblyInfoInputs.cache
/GymLogAPI/GymLog/obj/Release/net8.0/GymLog.AssemblyInfoInputs.cache
