.divMaster form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-parte {
  display: flex;
  align-items: center;
}

/* .login-parte form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: antiquewhite;
    object-fit:     ;
} */

.btnInteracao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnInteracao h3{
    font-weight: bolder;
    font-size: 50px;
}

.btnInteracao a {
  text-decoration: none;
  color: black;
}

.btnInteracao button {
  padding: 10px;
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inputMaster{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 550px;
}
/* From Uiverse.io by Yaya12085 */ 
.iibutton {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
}

.iibutton svg {
  height: 24px;
}

.iibutton:hover {
  transform: scale(1.02);
}

/* From Uiverse.io by Yaya12085 */ 
.eebutton {
  display: flex;
  background-color: #000;
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
}

.eebutton svg {
  height: 30px;
}

.eebutton:hover {
  box-shadow: none;
}
