/* Animação no botão confirmar */
@-webkit-keyframes btnConfirmacao-Intro {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes btnConfirmacao-Intro {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
.btnConfirmacao-Intro {
  -webkit-animation: btnConfirmacao-Intro 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
  animation: btnConfirmacao-Intro 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s
    both;
}
/* -------------------------------------------------------------------- */

/* Div Master do cadastroSexo, esta é a div que fica por cima de tudo */
.divMasterCadSex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Div presente nos botões que está sobre tudo, ou melhor, atrás de tudo :) */
.divBtn-Acionar {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(36, 37, 38);
  width: 500px;
  height: 400px;
  flex-wrap: wrap;
  justify-content: space-evenly;

  align-items: center;
  border-radius: 10px;
}

/* Alteração nos botões de uma forma geral */
.divBtn-Acionar button {
  width: 400px;
  height: 50px;
  border-radius: 20px;
}

/* Deixando os botões(botões de atividade) mais bonitos com efeitos e muito mais... */
.UseBtn {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ff9100;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  /* color: rgb(10, 10, 10); */
  color: #ff9100;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;

  justify-content: center;
}

.UseBtn span {
  margin: 10px;
}

.UseBtn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.UseBtn:hover {
  color: #ffffff;
  border: 1px solid #ff9100;
  background-color: #ff9100;
}

.UseBtn:hover::before {
  box-shadow: inset 0 0 0 10em #ff9100;
}
/* ---------------------------------------------------------------------- */

/* Estilizando o texto de confirmação */
.textBtn-CadSex {
  font-size: 15px;
  /* font-weight: 700; */
  margin: 0;
}

/* Deixando o botão(confirmar) mais bonito com efeitos e muito mais... */
.btn-confirmarCadSex {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ff9100;
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  /* color: rgb(10, 10, 10); */
  color: #ff9100;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  color: #000;

  justify-content: center;
  text-decoration: underline;
}

.btn-confirmarCadSex::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;

  color: blue;
}

.btn-confirmarCadSex:hover {
  color: #fff;
  border: 1px solid #ff9100;
  background-color: #ff9100;
}

.btn-confirmarCadSex:hover::before {
  box-shadow: inset 0 0 0 10em #ff9100;
}
/* ---------------------------------------------------------------------- */
