/* Div princpal do arquivo: ajustes geral */
.cadAtv-master {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 75vh;
  /* height: 100%; */
  min-width: fit-content;
  /* margin-bottom: 100px; */
}

/* Div dos textos: Estilizando e ajustando os textos */
.cadAtv-text {
  text-align: center;
  margin: 10px;
}

.cadAtv-text h3 {
  margin: 0 0 20px 0;
  font-weight: 900;
  font-size: 35px;

  color: orange;
}

.cadAtv-text h5 {
  margin: 0 0 20px 0;
  font-weight: 650;
  font-size: 25px;
}
/* ------------------------------------------------- */

/* Div master dos cards da escolha dos sexos */
.cadAtv-escolhaSexo {
  display: flex;
  flex-direction: row;
  gap: 350px;
}

.cadAtv-escolhaSexo a {
  text-decoration: none;
  color: #000;
}

/* Alteração interna nos códigos: card dos sexo */
.sex button {
  height: 185px;
  width: 150px;
  border-radius: 19px;
  /* background: #ff885b; */
  background: #33372c;
}
.sex i {
  font-size: 50px;
  color: #fff;
}

.sex h3 {
  color: #fff;
}

/* Alterações principalmente no cad do sexoFeminino */
.sexFem {
  box-shadow: inset 0 0 0 0 #ffb0b0;
  color: #ffb0b0;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 19px;
}

.sexFem:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #ffb0b0;
  border-radius: 19px;
}
/* -------------------------------------------------------------------- */


/* Alterações principalmente no cad do sexoMasculino */
.sexMasc {
  box-shadow: inset 0 0 0 0 #9dbdff;
  color: #9dbdff;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 19px;
}

.sexMasc:hover {
  color: #000;
  box-shadow: inset 200px 0 0 0 #9dbdff;
  border-radius: 19px;
}
/* -------------------------------------------------------------------- */

/* .sex button {
  box-shadow: inset 0 0 0 0 #ff885b;
  color: #ff885b;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 19px;
}
.sex button:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #ff885b;
  border-radius: 19px;
} */

/* Presentational styles */
/* a {
  color: #54b3d6;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
} */


/* Animações nos cards */
.card {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: relative;
  padding: 9px;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(
      var(--bg) 0.0000001%,
      var(--grey) 0.000104%
    )
    60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.card-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 190px;
  height: 254px;
  background-color: var(--contrast);
  border-radius: 30px;
  /* Content style */
  font-size: 30px;
  font-weight: 900;
  color: #000;
  text-align: center;
  font-family: monospace;

  flex-direction: column;
}

.card-inner i {
  background-color: #52525218;
  color: #996113;
  border-radius: 100%;
  width: max-content;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}




