.fundinho{
    width: 100%;
    height: 100dvh;
     background-image: url('../../../public/img/page4img.jpg');
     background-size: cover; 
     background-position: center;
     background-repeat: no-repeat;
 }
 .escrita{
    margin-left: 100px;
    width: 550px;
    height: 300px;
 }
 .escrita h1{
    color: white;
    font-size: 40px;
 }
 .log2{
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
 }
 .mud{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
 }
 .left{
    margin-left: 100px;
 }
 .right{
    margin-right: 100px;
 }
 .mud i{
    color: #ff9040;
   font-size: xx-large;
 }