/* Envolve-se a estrutura da página de erro */


.error-container {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 80%;
}
.text-error-h1 {
  color: #ff6347;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.text-error-p {
  color: #4682b4;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.btn-error {
  background-color: #20b2aa;
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
}
.btn-error:hover {
  background-color: #008b8b;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.error-code {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.9rem;
  color: #b0c4de;
  font-weight: bold;
}
.error-illustration {
  width: 200px;
  height: 200px;
  margin: 0 auto 2rem;
  position: relative;
}
.computer {
  width: 100%;
  height: 100%;
  fill: #210202;
}
.error-sign {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #e00f0f;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
