.MasterHeader {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 18%;
  padding: 10px;
  align-items: center;
}
.MasterHeader input {
  background-color: #d9d9d9;
  width: 222px;
  height: 44px;
  border: none;
  display: block;
  border-radius: 9px;
}
.searc i {
  display: flex;
  z-index: 1;
}
.biti {
  color: #090909;
  padding: 0.7em 1.7em;
  width: 240px;
  font-size: 18px;
  border-radius: 0.5em;
  background: #fff;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}
.biti:hover {
  background-color: #ff88005d;
}

/* .biti  :active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
  } */
.biti i {
  margin-right: 20px;
  font-size: 20px;
  margin-left: 20px;
  font-weight: 900;
}

.biti h2 {
  font-size: 20px;
  font-weight: 600;
}
.saidin {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.saida {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  border-top: 2px solid black;

  margin-right: 30px;
}
/* .said{
    font-size: 40px;
  }
  .saida h2{
    font-size: 20px;
  }
  .sain{
    font-size: 20px;
  } */

link{
  text-decoration: none;
}